@font-face {
  font-family: 'Inter';
  src: url('../polices/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../polices/Inter_24pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../polices/Inter_24pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../polices/Inter_24pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
